.dot-active {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.dot-inactive {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
}

.divBulk {
  display: flex;
  justify-content: center;
  padding: 5%;
  border: 2px solid gray;
}

.divBulk:hover {
  background-color: rgba(240, 240, 240);
}
